.media {
    display: flex;
    width: inherit;
    margin-top: 10px;
}
.content-div {
    background-color: #F3F0FA;
    border-radius: 5px;
    margin: 0px 5px 5px 5px;
    padding: 10px;
}
.name-rating {
    align-items: center;
    display: flex;
    justify-content: space-between;
}