.container-initial {
  background-color: #1a7f79;
  padding-top: 60px;
}
.title {
  color: #fff;
  font-size: 45px;
  margin-top: 15px;
}

.subTitle {
  color: #fff;
  font-size: 35px;
  margin-top: 15px
}
.text {
  color: #fff;
  margin-top: 25px;
  font-size: 24px;
  text-align: justify;
}

.subText {
  color: #fff;
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
}

.asset {
  height: 100%;
  margin-bottom: -7px;
}

.container-secondary {
  padding-top: 4%;
  padding-bottom: 4%;
}

.circles {
  color: #1A7F79;
  border: 1px solid #1A7F79;
  border-radius: 50%;
  padding: 20px;
}

@media (max-width: 600px) {
  .title .subTitle{
    font-size: 24px;
  }
  .text .subText {
    font-size: 15px;
  }

}

